/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap.scss';

.ad-container {
  border: 1px solid var(--bs-secondary);
  margin-bottom: 1rem;

  .ad-slot {
    display: inline-block;
    border: 4px solid var(--bs-blue);
  }
}

.w-50 {
  width: 50%;
}
