<div *dfpAd="ad" style="width: 728px; height: 90px" class="mb-2"></div>
<div
  *dfpAd="ad"
  [id]="'attr-id-' + id"
  style="width: 728px; height: 90px"
  class="mb-2"
></div>
<ng-container *ngFor="let ad of ads; let i = index">
  <div
    *dfpAd="ad; id: 'dfpAd-attr-id-' + i"
    style="width: 728px; height: 90px"
    class="mb-2"
  ></div>
</ng-container>
<div class="d-flex flex-column" style="width: 728px">
  <div class="btn-group">
    <a *ngIf="id > 1" class="btn btn-secondary" [routerLink]="['../', id - 1]"
      >Prev Page</a
    >
    <a class="btn btn-secondary" [routerLink]="['../', id + 1]">Next Page</a>
  </div>

  <div class="btn-group mt-2">
    <a class="btn btn-secondary" (click)="doAdd()">Add</a>
    <a class="btn btn-secondary" (click)="doChange()">Change</a>
    <a class="btn btn-secondary" (click)="doRefresh()">Refresh</a>
  </div>
</div>
