<span>Ad slot 1</span>
<div
  *dfpAd="'/6355419/Travel/Europe'; size: [728, 90]"
  [id]="slotIds[0]"
  style="width: 728px; height: 90px"
></div>

<span>Ad slot 2</span>
<div
  [dfpAd]="{
    unitPath: '/6355419/Travel/Europe',
    size: [750, 200]
  }"
  [id]="slotIds[1]"
  (renderEnded)="onSlotRenderEndedEvent($event)"
  (visibilityChanged)="onSlotVisibilityChanged($event)"
  style="width: 750px; height: 200px"
></div>

<table width="100%">
  <tr>
    <th>Slot</th>
    <th>Event</th>
    <th>Details</th>
  </tr>
  <tr *ngFor="let status of eventsStatus" valign="top">
    <td>{{ status[0] }}</td>
    <td>{{ status[1] }}</td>
    <td *ngIf="status[2]">
      <ng-container *ngFor="let val of status[2]">{{ val }}<br /></ng-container>
    </td>
  </tr>
</table>
